body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
#avatar {
	position: absolute;
    left: 10px;
    bottom: 10px;
	width: 50px;
	height: 50px;
}
#avatar img {
	width: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
#countries {
	position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
	min-height: 45px;
	background: #c5e5fb;
	padding: 15px 10px 10px 70px;
}
.mapboxgl-popup-content .icon {
	float: left;
}
.mapboxgl-popup-content a {
    text-decoration: none;
    color: black;
}
.mapboxgl-popup-content h4 {
	padding-left: 40px;
}
.mapboxgl-popup-content div {
	margin-top: -10px;
	margin-bottom: -10px;
}
.mapboxgl-popup-content .photo {
	margin-top: 20px;
	margin-bottom: -10px;
}
